<div class="card" style="width: 27rem;">
    <img class="card-img-top" src="{{ dog.image }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Nom : {{ dog.name }}</h5>
      <p>Description : {{ dog.desc }}</p>
      <!-- <button (click)="wantToTalk()" class="btn btn-success">Demander un rendez-vous</button>
      <br><br>
      <button [routerLink]="['/dog/update', dog.id]" class="btn btn-danger">Editer</button> -->
    </div>
  </div>

<!-- name: string;
    breed: string;
    type: number;
    talk: string; -->