<section class="jumbotron text-center">
        <div class="container">
            <h1 class="display-4">Animal&Co</h1>
            <p class="lead">Magasin qui vend tout type de chose, même ta mère parfois</p>
            <button routerLink="/cat/create" class="btn btn-info">Ajouter un chat</button>
            <br><br>
        </div>
        <br><br>
        <h1>Catégorie : Chat</h1>
      </section>
    
    
    <div class="animalList row justify-content-between">
        <app-cat-card *ngFor="let item of cats" [cat]="item"></app-cat-card>
    </div>